  body{
    padding: 30% 5% 5% 5%;
    font-family: 'Lato';
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img{
    width: 70%;
  }

  /*CSS for the classes provided by the Azure*/


  li{
    list-style: none;
  }

  ul{
    margin: 0;
    padding: 0;
  }

  p{
    font-size: 1rem;
  }

  .attr{
    width: 80%;
  }

  label,
  a,
  #verifying_blurb,
  .error.itemLevel.show{
    display: none !important;
  }


  div{
    font-size: 1rem;
  }

  button{
  background-color: rgb(237, 235, 235);
  color: black;
  padding: 6%;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 1rem;
  width: 80%;
  font-family: 'Lato';
  }

  .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }

  .cancel-div{
  display: flex;
  justify-content: center;
  }

  .cancel-btn{
  width: 80%;
  padding: 6.5%;
  }

  input{
  width: 90%;
  padding: 6% 0% 6% 8%; 
  margin: 1rem 0px; 
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
  font-size: 1rem;
  font-family: 'Lato';
  }

#passwordEntryMismatch,
#fieldIncorrect{
  width: 80%;
}

  #id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .intro{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }