body{
    padding: 30% 5% 5% 5%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  img{
    width: 70%;
  }
  
  /*CSS for the classes provided by the Azure*/


  li{
    list-style: none;
  }

  ul{
    margin: 0;
    padding: 0;
  }

  p{
    font-size: 2.5rem;
    font-weight: bold;
  }

  .attr{
    width: 80%;
  }

  label,
  a{
    display: none;
  }

  button{
background-color: rgb(237, 235, 235);
color: black;
padding: 8% 5%; 
border-radius: 10px;
font-size: 2rem;
margin-top: 2rem;
font-weight: bolder;
width: 70%
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
}

#cancel{
    background-color: rgb(237, 235, 235);
color: black;
padding: 5% 5%; 
border-radius: 10px;
font-size: 2rem;
font-weight: bolder;
width: 30%;
}

  input{
width: 100%;
padding: 6% 0% 6% 2%; 
margin: 1rem 0px; 
border-radius: 10px;
border: 3px solid black;
outline: none;
font-size: 2.5rem;
}



#id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



  form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.intro{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}