body{
    padding: 30% 10% 10% 10%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  img{
    width: 70%;
  }
  
  h1{
    font-size: 3rem;
    text-align: center; /* Center the text */
  }
  
  h2{
    font-size: 2rem; /* Adjust the font size to fit within the container */
    text-align: center; /* Center the text */
  }
  